<div *ngIf="loadingData" class="loading-spinner-overlay">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="cont">

    <div class="container-fluid">
        <div class="card" *ngIf="!loadingData">

            <!-- Aparece Unicamente cuando se debe cargar el formulario de creación de grupo de investigación -->
            <header *ngIf="!invGroupExists">
                <h1>Formulario de Solicitud de Creación de Grupo de Investigación</h1>
            </header>
            <div *ngIf="invGroupExists">

                <!-- Posterior al envio del formulario de solicitud de creación del grupo de Investigación se debe cargar el plan de desarrollo del grupo de Investigación -->
                <header
                    *ngIf="invGroupExists  && grupo && grupo.proceso==='1' ">

                    <h1>Para complementar la información y continuar con la
                        solicitud de creación del grupo de investigación se debe
                        cargar el plan de desarrollo del grupo de
                        Investigación</h1>
                </header>

                <!--  Carga del memrando de creacion del grupo de -->
                <header
                    *ngIf="invGroupExists  && grupo && grupo.estadoGrupoInv==='ppropuesta' ">

                    <h1>Mediante memorando presentar la propuesta de creación
                        del GI al Departamento.</h1>
                </header>

                <!-- Aparece cuando se solicita Informe de Seguimiento -->
                <header
                    *ngIf="invGroupExists  && grupo && grupo.estadoGrupoInv=='SolInforme' ">

                    <h1>La Unidad de Gestión de Grupos de Investigación a
                        solicitado
                        que cargue la documentación habilitante para el
                        seguimiento</h1>
                </header>
                <!-- Aparece cuando se envia la solicitud de creación junto con el plan de desarrollo y muestra el status de su solicitud -->

                <header
                    *ngIf="invGroupExists  && grupo && grupo.estadoGrupoInv=='revDirDep' || grupo.estadoGrupoInv==='revInfPer' 
                        || grupo.estadoGrupoInv==='revVITT' || grupo.estadoGrupoInv==='solInfPer'
                        || grupo.estadoGrupoInv==='revCom'|| grupo.estadoGrupoInv==='revCon'|| grupo.estadoGrupoInv==='Registro' ">

                    <h1>Se esta procesando su solicitud</h1>
                </header>
                <header
                    *ngIf="invGroupExists  && grupo && grupo.estadoGrupoInv=='Favorable' ">

                    <h1>Su solicitud se proceso co un resultado Favorable</h1>
                </header>

                <header *ngIf="grupo && grupo.estadoGrupoInv==='Activo'&& grupo.proceso!=='SolicitaPlanAnual'">
                    <h1>Bienvenido al Módulo de Gestión de Grupos de
                        Investigación</h1>
                </header> 
                <!-- Seguimiento -->
                <header *ngIf="grupo && grupo.proceso==='SolicitaPlanAnual'">
                    <h1>Elaborar y remitir los planes</h1>
                </header>

            </div>
<div *ngIf="!invGroupExists" class="container-fluid">
<h1>Por favor para empezar el proceso de creación del Grupo de Investigación debe llenar el Formulario de Solicitud de Creación de Grupo de Investigación</h1>
<button type="button" (click)="enlace('creation_request')"
color="primary" mat-raised-button >Formulario de Solicitud de Creación de Grupo de Investigación</button>
</div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='revDirDep' || grupo.estadoGrupoInv==='revInfPer' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                Su solicitud se encuentra actualmente en revisión por parte del
                Director del Departamento
                <p *ngIf="grupo.estadoGrupoInv==='revInfPer'">Sus documentos han
                    sido revisados por el Coordinador de Investigación</p>
            </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  &&  grupo.estadoGrupoInv==='revVITT' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                Su solicitud se encuentra remitida al Vicerrectorado de
                Investigación
            </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  &&  grupo.estadoGrupoInv==='revCom' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                Su solicitud se encuentra remitida al Comité de Investigación
            </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='revVITT' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                Su solicitud se encuentra actualmente en revisión por parte del
                VITT
            </div>

            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='Favorable' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
                El Comité de Investigación ha emitido un criterio favorable de
                su solicitud
            </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='Registro' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
                El Consejo Académico emitirá el acta de resolución de creación
                del GI al VITT y al Departamento proponente. </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='revCon' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
                El Consejo Académico emitirá el acta de resolución de creación
                del GI al VITT y al Departamento proponente
            </div>
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='sol_documentacion' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                <button type="button" (click)="enlace('seguimiento')"
                    color="primary" mat-raised-button>Cargar
                    documentacion</button>
            </div>

            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='solInfPer' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
                <h1>El Director de Departamento ha solicitado que remita el
                    respectivo Informe de Pertinencia para validar la
                    información</h1>

            </div>

            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.proceso==='1' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                <button type="button" (click)="enlace('developPlan')"
                    color="primary" mat-raised-button>Cargar plan de
                    Desarrollo</button>
            </div>

            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='ppropuesta' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>

                <button type="button" (click)="enlace('propuesta')"
                    color="primary" mat-raised-button>Cargar memorando</button>
            </div>

              <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='Activo' && grupo.proceso!=='SolicitaPlanAnual'"
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
            </div> 
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='revDirDep' || grupo.estadoGrupoInv==='solInfPer' "
                style="text-align: center;">
                <app-progress [id]="idGrupo"></app-progress>

            </div>
            <!-- FASE DE SEGUIMIENTO DEL GRUPO DE INVESTIGACIÓN (FORMULARIO CUANDO SE ENVÍA LA SOLICITUD POR PRIMERA VEZ) -->
            <div class="presentacionGrupo"
                *ngIf=" !loadingData  && grupo.estadoGrupoInv==='Activo' && grupo.proceso==='SolicitaPlanAnual' "
                style="text-align: center;">
                <h1>Grupo de Investigación {{grupo.nombreGrupoInv}}</h1>
                <p>Mediante memorando la Unidad de Gestión de Investigación
                    solicita que el GI revise, elabore y remita el plan de
                    desarrollo y planificación operativa anual con base a los
                    lineamientos establecidos por el VITT.
                    El GI coordinarán con la Unidad responsable de la Gestión de
                    la Investigación con el fin de verificar la pertinencia y
                    cumplimiento de requisitos.
                </p>
                <div>
                    <button type="button" mat-raised-button
                    color="primary"><a href="/main/anual-Plan">Cargar Plan Anual</a></button>
                </div>
                <div *ngIf="pdfUrl">
                    <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>

                </div>

            </div>

        </div>

        <!-- FASE DE CREACIÓN DEL GRUPO DE INVESTIGACIÓN (FORMULARIO CUANDO SE ENVÍA LA SOLICITUD POR PRIMERA VEZ) -->
      
    </div>
</div>