<div class="cont">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h1>INFORME DE ACTIVIDADES DE GRUPOS DE INVESTIGACIÓN</h1>
      </div>
    </div>

    <div class="container-fluid">
      <select (change)="onChange($event)">
        <option *ngFor="let reporte of activityReports" [value]="reporte.idInformeActividades">
          Informe de Actividades número {{ reporte.idInformeActividades }}
        </option>
      </select>
    </div>

    <div class="container-fluid">
      <div class="encabezado">
        <div class="box">
          <img src="../../../../../../assets/img/espe/logo-espe.png" alt="Imagen" />
        </div>
        <div class="box">
          <strong>UNIVERSIDAD DE LAS FUERZAS ARMADAS – ESPE</strong><br /><br />
          <strong>VICERRECTORADO DE INVESTIGACIÓN, INNOVACIÓN Y TRANSFERENCIA
            TECNOLÓGICA</strong><br />
          <strong>INFORME DE ACTIVIDADES DE GRUPO DE INVESTIGACIÓN</strong><br />
        </div>

        <div class="box">
          <strong>Fecha de Creación:</strong><br /><br />
          <div *ngFor="let reporte of repAct">
            {{ reporte.fechaCreacionInforme | date : 'dd/MM/yyyy' }}
          </div>
        </div>
      </div>
      <br />
      <br />

      <h2><strong>A. ANTECEDENTES</strong></h2>
      <br />
      <span *ngFor="let reporte of repAct">
        {{ reporte.antecedentes }}
      </span>
      <br /><br />
      <h2><strong>B. OBJETIVOS Y ESTRATEGIAS</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="width: 35%; border: solid 0.5px #dce0e2">
              <strong>OBJETIVOS</strong>
            </td>
            <td style="width: 35%; border: solid 0.5px #dce0e2">
              <strong>ESTRATEGIAS</strong>
            </td>
            <td style="width: 15%; border: solid 0.5px #dce0e2">
              <strong>VERIFICABLE</strong>
            </td>
            <td style="width: 15%; border: solid 0.5px #dce0e2">
              <strong>PORCENTAJE DE CUMPLIMIENTO</strong>
            </td>
          </tr>
          <tr *ngFor="let objetivo of objetivos">
            <td style="border: solid 0.5px #dce0e2">{{ objetivo.objetivo }}</td>
            <td style="border: solid 0.5px #dce0e2">
              {{ objetivo.estrategia }}
            </td>
            <td style="border: solid 0.5px #dce0e2">
              {{ objetivo.verificable }}
            </td>
            <td style="border: solid 0.5px #dce0e2">
              {{ objetivo.cumplimiento }} %
            </td>
          </tr>
        </tbody>
      </table>

      <h2><strong>C. DESARROLLO</strong></h2>
      <h2><strong>PARTICIPACIÓN EN EVENTOS</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="width: 50%; border: solid 0.5px #dce0e2">
              <strong>NOMBRE DEL EVENTO</strong>
            </td>
            <td style="width: 20%; border: solid 0.5px #dce0e2">
              <strong>CIUDAD</strong>
            </td>
            <td style="width: 20%; border: solid 0.5px #dce0e2">
              <strong>PAÍS</strong>
            </td>
            <td style="width: 10%; border: solid 0.5px #dce0e2">
              <strong>FECHA</strong>
            </td>
          </tr>
          <tr *ngFor="let evento of eventos">
            <td style="border: solid 0.5px #dce0e2">{{ evento.nombre }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ evento.ciudad }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ evento.pais }}</td>
            <td style="border: solid 0.5px #dce0e2">
              {{ evento.fecha | date : 'dd/MM/yyyy' }}
            </td>
          </tr>
        </tbody>
      </table>

      <h2><strong>PROYECTOS DE INVESTIGACIÓN</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <ng-container *ngFor="let proyecto of proyectos">
            <tr style="border: solid 0.5px #dce0e2">
              <td style="width: 20%; border: solid 0.5px #dce0e2">
                <strong>TÍTULO:</strong><br />
                <strong>ENTIDAD FINANCIERA:</strong><br />
                <strong>INSTITUCIONES COLABORADORAS:</strong><br />
                <strong>DURACIÓN:</strong><br />
                <strong>PRESUPUESTO:</strong><br />
                <strong>RESPONSABLE:</strong><br />
                <strong>PARTICIPANTES:</strong><br />
                <strong>TIPO:</strong><br />
                <strong>ESTADO:</strong><br />
              </td>
              <td style="width: 50%; border: solid 0.5px #dce0e2">
                {{ proyecto.titulo }}<br />
                {{ proyecto.entidadFinanciera }}<br />
                {{ proyecto.institucionColaboradora }}<br />
                {{ proyecto.horas }}{{ proyecto.minutos }}<br />
                {{ proyecto.presupuesto }}<br />
                {{ proyecto.responsable }}<br />
                {{ proyecto.participantes }}<br />
                {{ proyecto.tipo }}<br />
                {{ proyecto.estado }}<br />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <h2><strong>DIRECCIÓN DE TESIS DE POSGRADO</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <ng-container *ngFor="let tesis of posgrados">
            <tr style="border: solid 0.5px #dce0e2">
              <td style="width: 20%; border: solid 0.5px #dce0e2">
                <strong>NOMBRE PROYECTO:</strong><br />
                <strong>TESISTA/S:</strong><br />
              </td>
              <td style="width: 50%; border: solid 0.5px #dce0e2">
                {{ tesis.nombre }}<br />
                {{ tesis.tesistas }}<br />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <h2><strong>DIRECCIÓN DE TESIS DE TITULACIÓN</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <ng-container *ngFor="let tesis of titulaciones">
            <tr style="border: solid 0.5px #dce0e2">
              <td style="width: 20%; border: solid 0.5px #dce0e2">
                <strong>NOMBRE PROYECTO:</strong><br />
                <strong>TESISTA/S:</strong><br />
              </td>
              <td style="width: 50%; border: solid 0.5px #dce0e2">
                {{ tesis.nombre }}<br />
                {{ tesis.tesistas }}<br />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <h2><strong>PUBLICACIÓNES EN LIBROS</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="
                width: 5%;
                border: solid 0.5px #dce0e2;
                text-align: center;
              ">
              <strong>N°</strong>
            </td>
            <td style="
                width: 25%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>TÍTULO</strong>
            </td>
            <td style="
                width: 25%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>AUTOR(ES)</strong>
            </td>
            <td style="
                width: 25%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>LIBRO</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>ÍNDICE</strong>
            </td>
          </tr>

          <tr *ngFor="let capitulo of capitulosLibros">
            <td style="border: solid 0.5px #dce0e2">{{ capitulo.numero }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ capitulo.titulo }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ capitulo.autor }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ capitulo.libro }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ capitulo.indice }}</td>
          </tr>
        </tbody>
      </table>

      <h2><strong>PUBLICACIÓNES EN REVISTAS</strong></h2>

      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="
                width: 5%;
                border: solid 0.5px #dce0e2;
                text-align: center;
              ">
              <strong>N°</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>TÍTULO</strong>
            </td>
            <td style="
                width: 18%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>AUTOR(ES)</strong>
            </td>
            <td style="
                width: 18%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>REVISTA</strong>
            </td>
            <td style="
                width: 15%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>ÍNDICE</strong>
            </td>
            <td style="
                width: 12%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>QUARTIL IF JCR</strong>
            </td>
            <td style="
                width: 12%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>QUARTIL IF SJR</strong>
            </td>
          </tr>

          <tr *ngFor="let revista of revistas">
            <td style="border: solid 0.5px #dce0e2">{{ revista.numero }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.titulo }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.autores }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.revista }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.indice }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.ifjrc }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ revista.ifsjr }}</td>
          </tr>
        </tbody>
      </table>

      <h2><strong>PUBLICACIÓNES EN CONGRESOS</strong></h2>

      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="
                width: 5%;
                border: solid 0.5px #dce0e2;
                text-align: center;
              ">
              <strong>N°</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>TÍTULO</strong>
            </td>
            <td style="
                width: 17%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>AUTOR(ES)</strong>
            </td>
            <td style="
                width: 17%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>CONGRESO</strong>
            </td>
            <td style="
                width: 17%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>ÍNDICE</strong>
            </td>
            <td style="
                width: 12%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>IF JCR/SJR</strong>
            </td>
            <td style="
                width: 12%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>QUARTIL</strong>
            </td>
          </tr>

          <tr *ngFor="let congreso of congresos">
            <td style="border: solid 0.5px #dce0e2">{{ congreso.numero }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.titulo }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.autores }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.congreso }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.indice }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.ifJcrSjr }}</td>
            <td style="border: solid 0.5px #dce0e2">{{ congreso.cuartil }}</td>
          </tr>
        </tbody>
      </table>

      <h2><strong>D. EJECUCIÓN PRESUPUESTARIA</strong></h2>
      <table class="table" style="
          text-align: left;
          border: solid 0.5px #dce0e2;
          width: 100%;
          margin-left: 0%;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 30px;
        ">
        <thead></thead>
        <tbody>
          <tr style="border: solid 0.5px #dce0e2">
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>PARTIDA PRESUPUESTARIA</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>VALOR ASIGNADO</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>VALOR COMPROMETIDO</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>VALOR ACUMULADO</strong>
            </td>
            <td style="
                width: 20%;
                border: solid 0.5px #dce0e2;
                text-align: justify;
                text-align-last: left;
              ">
              <strong>BIENES/SERVICIOS ADQUIRIDOS</strong>
            </td>
          </tr>

          <tr *ngFor="let presupuesto of presupuestos">
            <td style="border: solid 0.5px #dce0e2">{{ presupuesto.item }}</td>
            <td style="border: solid 0.5px #dce0e2">
              $ {{ presupuesto.valorAsignado }}
            </td>
            <td style="border: solid 0.5px #dce0e2">
              $ {{ presupuesto.valorComprometido }}
            </td>
            <td style="border: solid 0.5px #dce0e2">
              $ {{ presupuesto.valorAcumulado }}
            </td>
            <td style="border: solid 0.5px #dce0e2">
              {{ presupuesto.bienesAdquiridos }}
            </td>
          </tr>
        </tbody>
      </table>

      <h2><strong>E. CONCLUSIONES</strong></h2>
      <br />
      <span *ngFor="let reporte of repAct">
        {{ reporte.conclusiones }}
      </span>
      <br /><br />

      <h2><strong>F. RECOMENDACIONES</strong></h2>
      <br />
      <span *ngFor="let reporte of repAct">
        {{ reporte.recomendaciones }}
      </span>
      <br /><br />
    </div>
  </div>
</div>