<div class="cont">
  <div class="container-fluid">
    <header style="display: flex;">
      <button type="button" mat-mini-fab style="border: none;background-color: rgb(24, 130, 223);margin-right: 5px;"
        (click)="goBack()">
        <i class="fas fa-arrow-left"></i></button>
      <h1>Editar Plan de Nivel Superior</h1>
    </header>
  
  <div class="form-container">
    <form [formGroup]="upperlevelPlanForm">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre" required>
      <button type="button" (click)="updatePlan()" class="btn btn-primary" mat-mini-fab>
        <i class="fas fa-save"></i>
      </button>
    </form>
    
    <div *ngIf="showSuccessMessage" class="success-message">
      Plan de Nivel Superior actualizada correctamente.
    </div>   </div>   
  </div>
  </div>
  