.container {
    width: 90%;
    margin: 0 auto;
    background-color: #F4FAFE;
    padding: 20px;
  }
  
  header {
    background-color: #2e8041;
    color: #fff;
    padding: 13px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .acciones {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .boton {
    background-color: #2e8041;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    margin-right: 10px;
  }
  
  .boton:last-child {
    margin-right: 0;
  }.anexo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  div {
    padding: 20px;
  
    input[type="file"] {
      margin-bottom: 10px;
    }
  
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  .drag-drop {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .drag-over {
    border-color: #4CAF50;
  }
  
  .file-icon {
    font-size: 24px; 
    color: #4CAF50; 
    margin-bottom: 10px;
  }
  .file-info{
    font-size: 20px;
  }
  
  .success-message {
    color: #4CAF50; 
   font-weight: bold;
  }
  

  input[type="file"] {
    display: none; 
  }
  
  .custom-file-input {
    width: 100%; 
    height: 100px; 
    position: relative; 
    overflow: hidden; 
    text-align: center;
  }
  
  .custom-file-input label {
    display: block; 
    width: 80%;
    height: 80%; 
    background-color: #007bff; 
    color: #fff; 
    padding: 15px; 
    text-align: center; 
    line-height: 20px;
    margin-left: 10%;
    cursor: pointer; 
    border-radius: 10px;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute; 
    top: 0; 
    right: 0;     
    bottom: 0; 
    left: 0; 
    opacity: 0; 
    cursor: pointer; 
  }
  .drag-drop i {
    margin-right: 8px;
    color: #d9534f; /* Rojo para PDF */
    font-size: 5rem;
  }
  
.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
}