<div class="container-fluid">
  <div class="card">
  <header>
    <h1>Solicitud de Informe</h1>
  </header>
  <main>
    <form (submit)="onSubmit()">
      <div class="drag-drop" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <p>Arrastra y suelta el documento aquí o haz clic para seleccionarlo.</p>
        <div class="custom-file-input">
          <label for="fileInput">Seleccionar archivo</label>
          <input id="fileInput" type="file" (change)="onFileSelected($event)" accept=".pdf" />
        </div>
      </div>
      <button class="boton" type="submit" [disabled]="!selectedFile">Solicitar Informe</button>
      <div *ngIf="selectedFile" class="file-info">
        <span>{{ selectedFile.name }} </span>
        <i class="{{ getFileIcon(selectedFile.type) }}"></i>
        <p *ngIf="fileUploaded" class="success-message">El anexo se ha cargado con éxito.</p>
      </div>
    </form>

    <section class="acciones">
      <button class="boton" (click)="goBack()">REGRESAR</button>
    </section>
    
  </main>
</div>
</div>