<div class="dropdown">
  <!-- <div class="dropdown-header flex items-center justify-between">
    <div class="flex items-center">
      <div class="dropdown-heading-icon flex items-center justify-center">
        <vex-user-avatar></vex-user-avatar>
      </div>
      <div class="dropdown-heading">
        {{ tokenClaims.username }}
      </div>
    </div>
  </div> -->

  <!-- <div class="dropdown-content">
    <a
      (click)="close()"
      *ngFor="let item of items; trackBy: trackById"
      [routerLink]="item.route"
      class="notification flex items-center"
      matRipple>
      <mat-icon
        [svgIcon]="item.icon"
        [ngClass]="item.colorClass"
        class="notification-icon flex-none"></mat-icon>
      <div class="flex-auto">
        <div class="notification-label">{{ item.label }}</div>
        <div class="notification-description">{{ item.description }}</div>
      </div>
      <mat-icon
        class="notification-chevron flex-none"
        svgIcon="mat:chevron_right"></mat-icon>
    </a>
  </div> -->

  <div class="dropdown-footer" fxLayout="row" fxLayoutAlign="end center">
    <a (click)="logout()" color="primary" mat-button>CERRAR SESIÓN</a>
  </div>
</div>
