@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

.cont {
  padding: 8px;
}
.tab{
  margin-top: 5%;
}

header {
  background-color: #2e8041;
  color: #fff;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  /* Para eliminar márgenes predeterminados del título */
}

.header button {
  margin: 0;
  /* Para evitar márgenes innecesarios */
}

.container-fluid {
  padding: 17px;
  background-color: #fff;
  margin: 10px;
  border: solid 1px #e9e9e9;
  border-radius: 5px;
}

h2 {
  color: #2e8041;
  font-size: 25px;
  font-weight: bold;
}

.create {
  background-color: #2e8041;
  color: white;
  border: solid 1px #fff;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  margin-left: 35%;
  margin-bottom: 10px;
}

.edit {
  background-color: #3498db;
  color: white;
}

.delete {
  background-color: #e74c3c;
  color: white;
}

table {
  margin-left: 5%;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

thead{
  background-color: #2e8041;
}
th {
  padding: 12px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.success-message {
  color: #155724;
  /* Color del texto */
  background-color: #d4edda;
  /* Color de fondo */
  border: 1px solid #c3e6cb;
  /* Borde */
  border-radius: 0.25rem;
  /* Bordes redondeados */
  padding: 0.75rem 1.25rem;
  /* Espaciado interno */
  margin-top: 10px;
  /* Margen superior */
  text-align: center;
  /* Centrar texto */
  font-size: 1rem;
  /* Tamaño de fuente */
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  margin-top: 40px;
}


.label-container {
  width: 100%;
  margin-bottom: 5px;
  text-align: left !important;
  border: #155724;
}

.label-container label {
  text-align: left !important;
  margin-left: 25px;
}

.form-container input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.form-container textarea {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}


.form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


.back-button-container {
  text-align: left;
  margin-bottom: 10px;
}

.back-button {
  background-color: #CCCCCC;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.back-button:hover {
  background-color: #AAAAAA;
}

.back-button i {
  margin-right: 5px;
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  /* Agrega un margen inferior opcional para separarla del campo de entrada */
}

.error-message {
  color: #dc3545;
  /* Color rojo */
  margin-top: 5px;
  /* Margen superior */
  font-size: 14px;
  /* Tamaño de fuente */
}

.activar {
  color: white;
  background-color: #2e8041;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  /* Ajusta el ancho de las columnas */
}

p {
  margin: 0.5em 0;
}