@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

.cont {
  padding: 8px;
}
.tab{
  margin-top: 5%;
}

header {
  background-color: #2e8041;
  color: #fff;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  /* Para eliminar márgenes predeterminados del título */
}

.header button {
  margin: 0;
  /* Para evitar márgenes innecesarios */
}

.container-fluid {
  padding: 17px;
  background-color: #fff;
  margin: 10px;
  border: solid 1px #e9e9e9;
  border-radius: 5px;
}

h2 {
  color: #2e8041;
  font-size: 25px;
  font-weight: bold;
}

.create {
  background-color: blue !important;
  color: white;
  border: solid 1px #fff;
  border-radius: 5px;
  height: 35px;
}

table {
  margin-left: 5%;
  width: 90%;
  border-collapse: collapse;
  text-align: left; 
  //table-layout: fixed; /* Mantiene las columnas del mismo tamaño */
 // word-wrap: break-word; /* Permite que el texto largo se divida */
  //overflow-wrap: break-word; /* Permite que el texto largo se divida */
}

thead {
  background-color: #2e8041;
  /* Si también no deseas que los encabezados se centren, elimina este texto */
  text-align: left; /* Puedes cambiarlo a left también */
}

th, td {
  text-align: left;
  vertical-align: middle;
  //white-space: normal; /* Permite saltos de línea */
  //word-break: break-word;
  overflow: hidden;
  //text-overflow: ellipsis;
}

/* Estilos para las columnas específicas */
th.mat-header-cell, td.mat-cell {
  width: auto;
  max-width: 200px; /* Ajusta según necesidad */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    max-width: 150px;
  }
}  

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.success-message {
  color: #155724;
  /* Color del texto */
  background-color: #d4edda;
  /* Color de fondo */
  border: 1px solid #c3e6cb;
  /* Borde */
  border-radius: 0.25rem;
  /* Bordes redondeados */
  padding: 0.75rem 1.25rem;
  /* Espaciado interno */
  margin-top: 10px;
  /* Margen superior */
  text-align: center;
  /* Centrar texto */
  font-size: 1rem;
  /* Tamaño de fuente */
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  margin-top: 40px;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label-container {
  width: 100%;
  margin-bottom: 5px;
  text-align: left !important;
  border: #155724;
}

.label-container label {
  text-align: left !important;
  margin-left: 25px;
}

.form-container input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.form-container textarea {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}


.form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


.back-button-container {
  text-align: left;
  margin-bottom: 10px;
}

.back-button {
  background-color: #ffffff !important;
  color: #000000  !important;
  border: none  !important ;
 // padding: 10px  !important;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 2px; 
  margin-right: 10px;
}

.back-button:hover {
  background-color: #AAAAAA;
}



.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.error-message {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}



.info-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

p {
  margin: 0.5em 0;
}

.imgLogo {
  width: 180px;  /* Define el ancho deseado */
  height: 180px; /* Define la altura deseada */
  object-fit: contain; /* Evita la deformación y ajusta la imagen dentro del contenedor */
  object-position: center
}
.modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%; 
  align-items: center;
  text-align: center;
}

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
}
.success-toast {
  background-color: #4caf50 !important; /* Verde */
  color: white !important;
}

.error-toast {
  background-color: #f44336 !important; /* Rojo */
  color: white !important;
}

 .edit {
  background-color: rgb(29, 143, 236) !important;
  color: white;
  margin-right: 10px !important; 
}

 .delete {
 background-color: red !important;
  color: white;
  margin-right: 10px; 
}

.activar {
  background-color: green !important;
  color: white;
  margin-right: 10px !important;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
