//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #F4FAFE;
    padding: 20px;
  }
  
  header {
    background-color: #2e8041;
    color: #fff;
    padding: 13px;
  }
  
  .cont {
    padding: 8px;
  }
  
  .container-fluid {
    padding: 17px;
    background-color: #fff;
    margin: 10px;
    border: solid 1px #e9e9e9;
    border-radius: 5px;
  }
  