
<div class="container-fluid">
    <div class="card">
      <header>
        <h1>Solicitudes Pendientes de Validación</h1>
      </header>
      <div
        style="width: 100%;display: flex;justify-self: center;justify-items: center;justify-content: center; align-items: center;"
        *ngIf="loadingData">
        <mat-spinner diameter="150" color="primary"
          class="overlay-spinner"></mat-spinner>
  
      </div>
  
      <main *ngIf="!loadingData">
        <mat-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>Informe de Pertinencia</ng-template>
              
              <app-relevanceReportForm-component [id]="creationReqForm.idGrupoInv"></app-relevanceReportForm-component>
                <div style="width: 100%;display: flex;
            justify-content: right;
            align-items: right;" *ngIf="creationReqForm || invGroup || usuario">
                  <button
                    mat-raised-button color="primary" type="button"
                    style="left: 0px;"
                    matStepperNext>
                    Siguiente
                  </button>
                </div></mat-step>
          <mat-step>
            <ng-template matStepLabel>Solicitud de Creación del Grupo de
              Investigación</ng-template>
            <app-creation-request-form [id]="idSolicitud"></app-creation-request-form>
            <div class="grid-item">
                <div>
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  matStepperNext>
                  Siguiente
                </button>
              </div> </div>
  
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Plan de Desarrollo</ng-template>
          
            <!-- 1. Encabezado -->
            <app-developmentPlanForm-component [id]="creationReqForm.idGrupoInv"></app-developmentPlanForm-component>
            <!-- 9. Firmas de Responsabilidad -->
            <!--<div class="section">
              <h3>9. FIRMAS DE RESPONSABILIDAD</h3>
              <p>Lugar y Fecha: Sangolquí, ………………….</p>
              <p>Elaborado por:</p>
              <p>______________________________<br />Coordinador de Grupo de Investigación<br />CI: ……………………. </p>
              <p>Aprobado por:</p>
              <p>____________________________________<br />Vicerrector de Investigación Innovación y Transferencia de Tecnología<br />CI: ……………………. </p>
            </div>-->
            <div class="grid-container">
              <div class="grid-item"></div>
              <div class="grid-item">
                <div>
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  matStepperNext>
                  Siguiente
                </button>
              </div> </div></div>
          </mat-step>
  
          <mat-step>
            <ng-template matStepLabel>Memorando de Solicitud de Creación del Grupo de Investigación</ng-template>
            <div *ngIf="pdfUrl">
              <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
  
            </div>
            <div class="grid-container">
              <div class="grid-item"></div>
              <div class="grid-item">
                <div>
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  matStepperNext>
                  Siguiente
                </button></div>
              </div> </div>
            
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Hojas de Vida de los miembros del grupo</ng-template>
            <app-cv-component [id]="creationReqForm.idGrupoInv"></app-cv-component>
            <div class="grid-container">
              <div class="grid-item"></div>
              <div
                class="grid-item"
                *ngIf="creationReqForm || invGroup || usuario"
              >
                <div>
                  <button type="button" mat-raised-button color="primary" matStepperPrevious>
                    Regresar
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    *ngIf="pdfUrlInforme"
                    matStepperNext
                  >
                    Siguiente
                  </button>
                </div>
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  matStepperPrevious
                  (click)="validarGrupo('memo-solicitud')"
                  *ngIf="!pdfUrlInforme"
                >
                  Validar Grupo
                </button>
              </div>
            </div>
          </mat-step>
          
        </mat-stepper>
        <div >
          
          
        </div>
  
      </main>
    </div>
  </div>
  