<div class="cont">
    <div class="container-fluid">
        <div class="back-button-container">
            <header style="display: flex;">
                <h1>{{ isEditing ? 'Editar Objetivo' : 'Crear Nuevo Objetivo' }}</h1>
            </header>
        </div>

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-spinner-overlay">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <!-- Formulario -->
        <div class="form-container" *ngIf="!isLoading">
            <form [formGroup]="instStrategicForm" (ngSubmit)="saveInstStrategocObj()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Objetivo</mat-label>
                    <input matInput type="text" formControlName="objetivo" required>
                    <mat-error *ngIf="instStrategicForm.get('objetivo').invalid && instStrategicForm.get('objetivo').touched">
                        El nombre del area es obligatorio.
                    </mat-error>
                </mat-form-field>

                <!-- Botón de guardar -->
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!instStrategicForm.valid">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
