

<div class="container-fluid">
    <div class="card">

  
    <header>
        <h1>Solicitudes Pendientes de Validación</h1>
    </header>
    <main>
        <div *ngIf="noSolicitudesPendientes" class="no-data-message">
            No existen Solicitudes por Validar Pendientes
        </div>
        <div style="width: 100%;display: flex;justify-self: center;justify-items: center;justify-content: center; align-items: center;" *ngIf="loadingData">
            <mat-spinner  diameter="150" color="primary" class="overlay-spinner" ></mat-spinner>
        
        </div>
        <table *ngIf="!noSolicitudesPendientes && !loadingData" class="solicitudes-table">
            <thead>
                <tr>
                    <th style="width: 10%;">#</th>
                    <th style="width: 35%;">Nombre de Grupo</th>
                    <th style="width: 30%;">Nombre del Coordinador</th>
                    <th style="width: 25%;">Fecha de Creación</th>
                    <th>Validar</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of solicitudesFiltradas; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ getNombreGrupo(solicitud.idGrupoInv) }}</td>
                    <td>{{coordinador.nombre}}</td>
                    <td>{{ solicitud.fechaCreacionPeticion | date }}</td>
                    <td>
                        <button class="edit" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="validar(solicitud.idPeticionCreacion)">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                          </button>
                        
                    </td>

                </tr>
            </tbody>
        </table>
    </main>
</div>
</div>
