<div class="cont">
  <div class="container-fluid">
    <div class="card">
      <header>
        <h1>Plan de Desarrollo</h1>
      </header>
    </div>
    <div *ngIf="!formReady" class="loading-spinner-overlay">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
    <form [formGroup]="myForm" (ngSubmit)="HandleSubmit()" *ngIf="formReady">
      <mat-stepper [linear]="isLinear" #stepper>
        <!-- Step 1: Referencias -->
        <mat-step [stepControl]="planDesarrolloForm1">
          <ng-template matStepLabel>Referencias</ng-template>
          <div formGroupName="planDesarrolloForm1">
            <div class="grid-container">
              <div class="grid-item">
                <mat-form-field appearance="fill">
                  <mat-label>Plan del Nivel Superior</mat-label>
                  <mat-select [formControl]="planSuperiorControl" multiple
                    required>
                    <mat-option *ngFor="let plan of planSuperior"
                      [value]="plan.idPlanNivelSuperior">
                      {{ plan.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="grid-item">
                <mat-form-field appearance="fill">
                  <mat-label>Marco Legal específico del nivel</mat-label>
                  <mat-select [formControl]="marcoControl" multiple required>
                    <mat-option *ngFor="let marco of marcoLegal"
                      [value]="marco.idMarcoLegal">
                      {{ marco.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="grid-item">
                <mat-form-field appearance="fill">
                  <mat-label>Plan de Creación de Oportunidades - PNBV
                    (2021-2025)</mat-label>
                  <mat-select [formControl]="planNacionalControl" multiple
                    required>
                    <mat-option *ngFor="let plan of planNacional"
                      [value]="plan.idPlanNacional">
                      {{ plan.numeroPolitica + " " + plan.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <button type="button" mat-raised-button color="primary"
              [disabled]="!marcoControl.value?.length || !planNacionalControl.value?.length! || !planSuperiorControl.value?.length"
              matStepperNext>
              Siguiente
            </button>
          </div>
        </mat-step>

       

        <!-- Step 2_1:Contexto -->
        <mat-step [stepControl]="planDesarrolloForm2_1">
          <ng-template matStepLabel>Contexto</ng-template>

          <div formGroupName="planDesarrolloForm2_1">
            <h2>CONTEXTO</h2>
            <mat-form-field appearance="fill">
              <mat-label>CONTEXTO</mat-label>
              <textarea matInput formControlName="contexto" class="textarea"
                rows="10" required></textarea>
            </mat-form-field>
            <div class="grid-container">
              <div class="grid-item">
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  [disabled]="!myForm.get('planDesarrolloForm2_1').valid"
                  matStepperNext>
                  Siguiente
                </button>
              </div>
            </div>
          </div>
        </mat-step>
         <!-- Step 2: Alcance y Contexto -->
         <mat-step [stepControl]="planDesarrolloForm2">
          <ng-template matStepLabel>Alcance</ng-template>
          <div formGroupName="planDesarrolloForm2">
            <h2>ALCANCE</h2>
            <mat-form-field appearance="fill">
              <mat-label>ALCANCE</mat-label>
              <textarea matInput formControlName="alcance" class="textarea"
                rows="10" required></textarea>
            </mat-form-field>
            <div class="grid-container">
              <div class="grid-item">
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  [disabled]="!myForm.get('planDesarrolloForm2').valid"
                  matStepperNext>
                  Siguiente
                </button>
              </div>
            </div>
          </div>
        </mat-step>
        <!-- Step 2_2:Objetivos Generales y Estratégicos -->
        <mat-step [stepControl]="planDesarrolloForm2_2">
          <ng-template matStepLabel>Objetivos</ng-template>

          <div formGroupName="planDesarrolloForm2_2">
            <div class="grid-container">
              <div class="grid-item">
                <mat-form-field appearance="fill">
                  <mat-label>Objetivo Estratégico Institucional</mat-label>
                  <mat-select [formControl]="objetivoInstitucionalControl" 
                    required>
                    <mat-option *ngFor="let obj of objetivoInstitucional"
                      [value]="obj.idObjetivoEstrategico">
                      {{ obj.objetivo }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="grid-item">
                <h2>Objetivo General</h2>
                <mat-form-field appearance="fill">
                  <mat-label>OBJETIVO GENERAL</mat-label>
                  <textarea matInput formControlName="objGeneral"
                    class="textarea" rows="10" required></textarea>
                </mat-form-field></div>
              
              <div class="grid-item">
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  [disabled]="!myForm.get('planDesarrolloForm2_2').valid"
                  matStepperNext>
                  Siguiente
                </button>
              </div>
            </div>
          </div>
        </mat-step>

        <!-- Step 3: Objetivos y Estrategias -->
        <mat-step [stepControl]="myForm.get('planDesarrolloForm3')">
          <ng-template matStepLabel>Objetivos específicos</ng-template>
          <div formGroupName="planDesarrolloForm3">
            <table>
              <thead>
                <tr>
                  <th>Objetivos Específicos</th>
                  <th>Estrategias Institucionales</th>
                  <th>ODS Relacionado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Iteramos sobre los controles del FormArray -->
                <tr *ngFor="let objetivo of objetivos.controls; let i = index; trackBy: trackByFn" [formGroupName]="i">
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Objetivo Específico" formControlName="objetivo" />
                    </mat-form-field>
                    <button type="button" mat-icon-button color="warn" (click)="openDialogObj(i)" >
                      <mat-icon>Agregar Estrategia</mat-icon>
                    </button>
                  </td>
                  <td>
                    <!-- Campo para Estrategias Institucionales -->
                  </td>
                  <td>
                    <!-- Campo para ODS Relacionado -->
                  </td>
                  <td>
                    <button type="button" mat-icon-button (click)="eliminarObjetivo(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Botón para añadir nuevos objetivos -->
            <button mat-button type="button" (click)="agregarObjetivo()">Añadir Objetivo</button>
        
            <div class="grid-item">
              <button type="button" mat-raised-button color="primary" matStepperPrevious>Regresar</button>
              <button type="button" mat-raised-button color="primary" [disabled]="!myForm.get('planDesarrolloForm3').valid" matStepperNext>
                Siguiente
              </button>
            </div>
          </div>
        </mat-step>
        

        <!-- Step 4: Actividades -->
        <mat-step [stepControl]="planDesarrolloForm4">
          
          <div class="grid-item">
            <button type="button" mat-raised-button color="primary"
              matStepperPrevious>Regresar</button>
            <button type="submit" mat-raised-button color="primary"
              [disabled]="!myForm.get('planDesarrolloForm4').valid">
              Enviar
            </button>
          </div>
        </mat-step>

      </mat-stepper>
    </form>
  </div>
</div>
