<div class="cont">
    <div class="container-fluid">
        <div class="back-button-container">
            <header style="display: flex;">
                
                <h1>PANEL DE CONTROL{{ isEditing ? 'Editar Control' : 'Crear Nuevo control' }}</h1>
            </header>
        </div>

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-spinner-overlay">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <!-- Formulario -->
        <div class="form-container" *ngIf="!isLoading">
            <form [formGroup]="controlPanelForm" (ngSubmit)="saveControlPanel()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Objetivo Específico</mat-label>
      <mat-select formControlName="idObjetivoEspecifico" required>
        <mat-option *ngFor="let obj of objetivos; let i = index" [value]="i">
          {{ obj.objetivo }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="controlPanelForm.get('idObjetivoEspecifico').invalid && controlPanelForm.get('idObjetivoEspecifico').touched">
        El objetivo es obligatorio.
      </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Identificador de Responsable</mat-label>
                    <mat-select formControlName="idResponsable" required>
                        <mat-option *ngFor="let u of members" [value]="u.id">
                          {{ u.nombre }}
                        </mat-option>
                      </mat-select>                    
                      <mat-error *ngIf="controlPanelForm.get('idResponsable').invalid && controlPanelForm.get('idResponsable').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Actividad</mat-label>
                    <input matInput type="text" formControlName="actividad" required>
                    <mat-error *ngIf="controlPanelForm.get('idResponsable').invalid && controlPanelForm.get('idResponsable').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <!--Inicio Indicador -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label> Nombre del Indicador </mat-label>
                    <input matInput type="text" formControlName="indicadorNombre" required>
                    <mat-error *ngIf="controlPanelForm.get('indicadorNombre').invalid && controlPanelForm.get('indicadorNombre').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo de Indicador </mat-label>
                    <mat-select formControlName="indicadorTipo" required>
                      <mat-option value="n">Numérico</mat-option>
                      <mat-option value="p">Porcentual</mat-option>
                    </mat-select>
                    <mat-error *ngIf="controlPanelForm.get('indicadorTipo').invalid && controlPanelForm.get('indicadorTipo').touched">
                      El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Formula del Indicador </mat-label>
                    <input matInput type="text" formControlName="indicadorForma" required>
                  <mat-error *ngIf="controlPanelForm.get('indicadorForma').invalid && controlPanelForm.get('indicadorForma').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Condicional Indicador </mat-label>
                    <mat-select formControlName="indicadorCondicional" required>
                        <mat-option value="c">Continuo</mat-option>
                        <mat-option value="d">Discreto</mat-option>
                      </mat-select>                      <mat-error *ngIf="controlPanelForm.get('indicadorCondicional').invalid && controlPanelForm.get('indicadorCondicional').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Indicador Acumulativo</mat-label>
                    <mat-select formControlName="indicadorAcumulativo" required>
                        <mat-option value="s">Si</mat-option>
                        <mat-option value="n">No</mat-option>
                      </mat-select>                          <mat-error *ngIf="controlPanelForm.get('indicadorAcumulativo').invalid && controlPanelForm.get('indicadorAcumulativo').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>
                <!--Fin indicador-->

                <!--Inicio metas-->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Meta 1</mat-label>
                    <input matInput placeholder="" formControlName="meta1" type="number">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Meta 2</mat-label>
                    <input matInput placeholder="" formControlName="meta2" type="number">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Meta 3</mat-label>
                    <input matInput placeholder="" formControlName="meta3" type="number">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Meta 4</mat-label>
                    <input matInput placeholder="" formControlName="meta4" type="number">
                </mat-form-field>
                <!--Fin Metas-->

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Financiamiento</mat-label>
                    <input matInput type="text" formControlName="financiamiento" required>
                    <mat-error *ngIf="controlPanelForm.get('financiamiento').invalid && controlPanelForm.get('financiamiento').touched">
                        El campo es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Observación</mat-label>
                    <textarea matInput placeholder="" formControlName="observacion"></textarea>
                </mat-form-field>

                <!-- Botón de guardar -->
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
