<div class="cont">
    <div class="container-fluid">
        <div class="back-button-container">
            <header style="display: flex;">
                <h1>OBJETIVOS ESPECÍFICOS DEL PLAN DE DESARROLLO Y SU RELACIÓN CON LAS ESTRATEGIAS INSTITUCIONALES DEL OBJETIVO ESTRATÉGICO INSTITUCIONAL  Y LOS ODS</h1>
            </header>
        </div>

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-spinner-overlay">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <!-- Formulario -->
        <div class="form-container" *ngIf="!isLoading">
            <form [formGroup]="form" (ngSubmit)="save()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Objetivo Especifico</mat-label>
                    <mat-error *ngIf="form.get('objetivo').invalid && form.get('objetivo').touched">
                        El objetivo es obligatorio.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Estrategias Institucionales</mat-label>
                    <mat-select formControlName="idArea" required>
                        <mat-option *ngFor="let st of estrategias" [value]="st.idEstrategia">
                          {{ st.estrategia }}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="form.get('estrategia').invalid && form.get('estrategia').touched">
                        La estrategia obligatorio.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Objetivo de Desarrollo Sostenible</mat-label>
                    <mat-select formControlName="idODS" required>
                        <mat-option *ngFor="let ods of ods" [value]="ods.idOds">
                          {{ ods.ods }}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="form.get('ods').invalid && form.get('ods').touched">
                        El ODS es obligatorio.
                    </mat-error>
                </mat-form-field>

                <!-- Botón de guardar -->
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
