<div class="container">
    <div class="container-fluid">
      <h2>Lista de Ejemplos</h2>
  
    
      <table>
        <thead>
          <tr>
            <th>IDUSER</th>
            <th>IDROL</th>
      
            
       
          </tr>
        </thead>
        <tbody>
          <!-- Filas de la tabla -->
          <tr *ngFor="let urol of uroles">
            <td>{{ urol.iduser }}</td>
            <td>{{ urol.idrol }}</td>
         
            

    
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  