<mat-spinner *ngIf="loadingData" diameter="50" color="primary"></mat-spinner>

<div class="container-fluid">
  <div class="card">
    <header>
      <h1>Solicitudes Pendientes de Validación</h1>
    </header>
    <main>
      <div class="encabezado">
        <div class="box"> <img
            src="../../../../../../assets/img/espe/logo-espe.png"
            alt="Imagen"></div>
        <div class="box">UNIVERSIDAD DE LAS FUERZAS ARMADAS – ESPE<br /><br />

          VICERRECTORADO DE INVESTIGACIÓN, INNOVACIÓN Y TRANSFERENCIA
          TECNOLÓGICA <br />
          SOLICITUD DE CREACIÓN DE GRUPO DE INVESTIGACIÓN <br />
        </div>
        <div class="box">
          Fecha:
          <div *ngIf="creationReqForm">

            {{creationReqForm.fechaCreacionPeticion | date}}
          </div>
        </div>
      </div>

      <table *ngIf="creationReqForm || invGroup || usuario" class="table"
        style="text-align: left;border: solid 0.5px #dce0e2 ;width: 90%;margin-left: 5%; border-radius: 30px;">
        <thead>

        </thead>
        <tbody>
          <tr *ngIf="usuario" style="border:solid 0.5px #dce0e2 ;">
            <td style="width: 5%; border:solid 0.5px #dce0e2 ;">1</td>
            <td style="width: 30%;border:solid 0.5px #dce0e2 ;">Nombre del
              Coordinador del Grupo</td>
            <td style="width: 65%; border:solid 0.5px #dce0e2  ;">{{
              usuario.nombre }}</td>
          </tr>
          <tr>
            <td style="border:solid 0.5px #dce0e2 ;">2</td>
            <td style="border:solid 0.5px #dce0e2 ;">Nombre de los
              integrantes</td>
            <td *ngIf="memberUser && memberUser.length > 0"
              style="border: solid 0.5px #dce0e2;">
              <div *ngFor="let member of memberUser">{{ member.nombre }}</div>
            </td>

          </tr>
          <tr *ngIf="invGroup">
            <td style="border:solid 0.5px #dce0e2 ;"> 3</td>
            <td style="border:solid 0.5px #dce0e2 ;">Nombre del Grupo (en
              español)</td>
            <td style="border:solid 0.5px #dce0e2 ;">{{ invGroup.nombreGrupoInv
              }}</td>
          </tr>
          <tr *ngIf="invGroup">
            <td style="border:solid 0.5px #dce0e2 ;">4</td>
            <td style="border:solid 0.5px #dce0e2 ;">Nombre del Grupo (en otro
              Idioma)</td>
            <td style="border:solid 0.5px #dce0e2 ;">{{
              invGroup.nombreOlGrupoInv }}</td>
          </tr>
          <tr *ngIf="invGroup">
            <td style="border:solid 0.5px #dce0e2 ;">5</td>
            <td style="border:solid 0.5px #dce0e2 ;">Acrónimo(Optativo)</td>
            <td style="border:solid 0.5px #dce0e2 ;">{{
              invGroup.acronimoGrupoinv }}</td>
          </tr>
          <tr>
            <td style="border:solid 0.5px #dce0e2 ;">6</td>
            <td style="border:solid 0.5px #dce0e2 ;">Dominios Académicos</td>
            <td style="border:solid 0.5px #dce0e2 ;" *ngIf="acadCrea"
              style="border: solid 0.5px #dce0e2;">
              <div *ngFor="let ac of acadCrea.dominio">{{
                ac.nombreDominioAcademico }}</div></td>
          </tr>
          <tr>
            <td style="border:solid 0.5px #dce0e2 ;">7</td>
            <td style="border:solid 0.5px #dce0e2 ;">Áreas de Investigación</td>
            <td style="border:solid 0.5px #dce0e2 ;" *ngIf="creaArea"
              style="border: solid 0.5px #dce0e2;">
              <div *ngFor="let ca of creaArea.area">{{ ca.nombreArea
                }}</div></td>
          </tr>
          <tr>
            <td style="border:solid 0.5px #dce0e2 ;">8</td>
            <td style="border:solid 0.5px #dce0e2 ;">Líneas </td>
            <td style="border:solid 0.5px #dce0e2 ;" *ngIf="lineCrea"
              style="border: solid 0.5px #dce0e2;">
              <div *ngFor="let lc of lineCrea.linea">{{ lc.nombreLinea
                }}</div></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <div *ngIf="!creationReqForm && !invGroup && !usuario">
        <p>No se encontraron detalles disponibles.</p>
      </div><div style="width: 100%;display: flex;
          justify-content: right;
          align-items: right;" *ngIf="creationReqForm || invGroup || usuario">
        <button class="check" mat-mini-fab color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="validarGrupo()">
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
      </div>

    </main>
  </div>
</div>
