<div class="cont">
<div class="container-fluid">
  <header>
    <h1>Gestión de Roles</h1>

</header>
<div class="container-fluid" style="border: none;">
  <div class="tarjetas-wrapper"> 
    <div class="tarjetas-container">
      <ng-container *ngFor="let tarjeta of tarjetas">
        <div class="card" (click)="seleccionarTarjeta(tarjeta.ruta)">
          <div class="card-content">
            <img src="{{ tarjeta.imagen }}" alt="{{ tarjeta.titulo }}" class="card-image">
            <div class="card-title-content" style="text-align: center;"> <!-- Aplicar text-align: center; aquí -->
              <h5 class="card-title">{{ tarjeta.titulo }}</h5>
            </div>
            <div class="overlay"></div>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  </div>
</div>
</div>
