<div
      style="width: 100%;display: flex;justify-self: center;justify-items: center;justify-content: center; align-items: center;"
      *ngIf="loadingData">
      <mat-spinner diameter="150" color="primary"
        class="overlay-spinner"></mat-spinner>

    </div>
<div *ngIf="!loadingData">


<div class="encabezado">
    <div class="box">
      <img src="../../../../../../assets/img/espe/logo-espe.png" alt="Imagen">
    </div>
    <div class="box">
      UNIVERSIDAD DE LAS FUERZAS ARMADAS – ESPE<br />
      VICERRECTORADO DE INVESTIGACIÓN, INNOVACIÓN Y TRANSFERENCIA TECNOLÓGICA<br />
      PLAN DE DESARROLLO DEL GRUPO DE INVESTIGACIÓN
    </div>
    <div class="box">
      Fecha: <br />
      <div *ngIf="planDesarrollo">
        {{planDesarrollo.fechaCreacionUsuario | date}}
      </div>
    </div>
  </div>

  <!-- 2. NOMBRE DEL GRUPO DE INVESTIGACIÓN -->
  <div class="section">
    <h3>1. NOMBRE DEL GRUPO DE INVESTIGACIÓN</h3>
      <p style="text-indent: 40px;">{{ invGroup.nombreGrupoInv }}</p>
  </div>

  <!-- 3. Referencias -->
  <div class="section">
    <h3>2. REFERENCIAS</h3>
    <ul style="text-indent: 40px;" *ngIf="upperLevelPlan  && legalFramework && nationalPlan">
      <li >a.    Plan del Nivel Superior</li>
      <li *ngFor="let plan of upperLevelPlan.planDeNivelSuperior"  style="text-indent: 60px;">
        <ul>
          <li>{{ plan.nombre }}</li>
        </ul>
      </li>
      <br/>
      <li *ngIf="legalFramework">b.   Marco Legal específico del nivel</li>
      <li *ngFor="let legal of legalFramework.marcoLegal; let i = index"  style="text-indent: 80px;">
        <ul>
         
          <li>{{ i+1 }}. {{ legal.nombre }}</li>
        </ul>
      </li>
      <br/>
      <li *ngIf="nationalPlan">c.  Plan de Creación de Oportunidades - PNBV (2021 – 2025)</li>
      <li *ngFor="let nat of nationalPlan.planNacional"  style="text-indent: 60px;">
        <ul>
          <li>{{ nat.numeroPolitica }}: {{ nat.descripcion }}</li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- 4. Contexto -->
  <div class="section">
    <h3>3. CONTEXTO</h3>
    <p>{{ planDesarrollo.contexto }}</p>
  </div>

  <!-- 5. Alcance -->
  <div class="section">
    <h3>4. ALCANCE</h3>
    <p>{{ planDesarrollo.alcance }}</p>
  </div>

  <!-- 6. Objetivo General del Plan de Desarrollo -->
  <div class="section">
    <h3>5. OBJETIVO GENERAL DEL PLAN DE DESARROLLO</h3>
    <p>{{ planDesarrollo.objGeneral }}</p>
  </div>

  <div class="section">
    <h3>6. OBJETIVO ESTRATÉGICO INSTITUCIONAL</h3>
    <p>{{objInstitucional.objetivo}}</p>
  </div>
  <!-- 7. Objetivos Específicos y Relación con ODS -->
  <div class="section">
    <h3>7. OBJETIVOS ESPECÍFICOS DEL PLAN DE DESARROLLO Y SU RELACIÓN CON LAS ESTRATEGIAS INSTITUCIONALES DEL OBJETIVO ESTRATÉGICO INSTITUCIONAL  Y LOS ODS</h3>
    <table class="table tPlan">
      <thead>
        <tr>
          <th>Objetivo Específico</th>
          <th>Estrategias Institucionales</th>
          <th>ODS Relacionado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of specificObj">
          <td>{{ obj.obj.objetivo }}</td>
          <td>
            <div class="list" *ngFor="let estrategia of obj.strategies">
              {{ estrategia.estrategia }}<br>
            </div>
          </td>
          <td>
            <div class="list" *ngFor="let ods of obj.ods">
             {{ ods.ods }}<br>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 8. Cuadro de Mando Específico del Grupo de Investigación -->
  <div class="section">
    <h3>8. CUADRO DE MANDO ESPECÍFICO DEL GRUPO DE INVESTIGACIÓN</h3>
    <table class="table tPlan">
      <thead>
        <tr>
          <th>No.</th>
          <th>Objetivo Específico</th>
          <th>Actividades</th>
          <th>Responsable</th>
          <th>Indicador</th>
          <th colspan="4" class="metas-header">Metas Anuales</th>
          <th>Financiamiento Requerido</th>
          <th>Observaciones</th>
        </tr>
        <tr >
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="metas-header">1</th>
          <th class="metas-header">2</th>
          <th class="metas-header">3</th>
          <th class="metas-header">4</th>
          <th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of controlPanel; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ getObj(item.idObjetivoEspecifico) | async }}</td>
          <td>{{item.actividad}}</td>
         <td>{{getName(item.idResponsable)| async }}</td>
         <td>{{item.indicadorNombre}}</td>
          <td>{{ item.meta1 }}</td>
          <td>{{ item.meta2 }}</td>
          <td>{{ item.meta3 }}</td>
          <td>{{ item.meta4 }}</td>
          <td>{{ item.financiamiento }}</td>
          <td>  {{item.observacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>