<div *ngIf="loading" class="loading-spinner-overlay">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="cont">
  <div class="container-fluid">
    <div class="card">
      <header>
        <h1>Plan de Desarrollo</h1>
      </header>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="HandleSubmit()">
      <mat-stepper [linear]="isLinear" #stepper>
        <!-- Step 1: Referencias -->
        <mat-step [stepControl]="form1">
          <ng-template matStepLabel>Antecedentes</ng-template>
          <div formGroupName="form1">
            <div class="grid-container">
              <div class="grid-item">
                <mat-form-field appearance="fill">
                  <mat-label>Número de memorando de solicitud de informe de
                    pertinencia</mat-label>
                  <input matInput formControlName="numeroMemo"
                    placeholder="No Memorando">
                </mat-form-field>
              </div>

              <div class="grid-item">
                <mat-checkbox formControlName="formularioCreacion">
                  Solicitud de creación de grupo de investigación
                </mat-checkbox>
              </div>

              <div class="grid-item">
                <mat-checkbox formControlName="planDesarrollo">
                  Plan de desarrollo del grupo de investigación
                </mat-checkbox>
              </div>

              <div class="grid-item">
                <mat-checkbox formControlName="documentosAdicionales">
                  Documentación adicional de sustento
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <button type="button" mat-raised-button color="primary"
              matStepperNext>Siguiente</button>
          </div>
        </mat-step>

        <!-- Step 2: Objetivo-->
        <mat-step [stepControl]="form2">
          <ng-template matStepLabel>Objetivo</ng-template>
          <div formGroupName="form2">
            <mat-form-field appearance="fill">
              <mat-label>Objetivo</mat-label>
              <textarea matInput formControlName="objetivos"
                placeholder="Objetivo"></textarea>
            </mat-form-field>

            <div class="grid-container">
              <div class="grid-item">
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  matStepperNext>Siguiente</button>
              </div>
            </div>
          </div>
        </mat-step>

        <!-- Step 3: Desarrollo -->
        <mat-step [stepControl]="form3">
          <ng-template matStepLabel>Desarrollo</ng-template>
          <div formGroupName="form3">
            <div >
              <div >
                <mat-checkbox  class="adjust-text" formControlName="planEstrategico">Pertinencia
                  académica del grupo de investigación a los Objetivos de
                  Desarrollo Sostenible y el Plan Estratégico de la
                  universidad</mat-checkbox>
              </div>
              <div >
                <mat-checkbox class="adjust-text"
                  formControlName="pertenenciaAcademicaAporte">Pertinencia
                  académica del grupo de investigación con su aporte a los
                  dominios, áreas y líneas de investigación de la
                  universidad.</mat-checkbox>
              </div>
              <div >
                <mat-checkbox class="adjust-text" formControlName="coordinador">Cumplimiento de
                  requisitos de coordinador del grupo de investigación con
                  documentos de respaldo.</mat-checkbox>
              </div>
              <div >
                <mat-checkbox class="adjust-text" formControlName="miembros">Cumplimiento de
                  requisitos de miembros y colaboradores del grupo de
                  investigación con documentos de respaldo.</mat-checkbox>
              </div>
              <div >
                <mat-checkbox class="adjust-text"
                  formControlName="objetivosPlanDesarrollo">Relevancia de la
                  creación del grupo de investigación con base a los objetivos
                  del Plan de Desarrollo del grupo de
                  investigación.</mat-checkbox>
              </div>
            </div>

            <div class="grid-container">
              <div class="grid-item">
                <button type="button" mat-raised-button color="primary"
                  matStepperPrevious>Regresar</button>
                <button type="button" mat-raised-button color="primary"
                  matStepperNext>Siguiente</button>
              </div>
            </div>
          </div>
        </mat-step>

        <!-- Step 4: Conclusiones y Recomendaciones -->
        <mat-step [stepControl]="form4">
          <ng-template matStepLabel>Conclusiones y Recomendaciones</ng-template>
          <div formGroupName="form4">
            <div class="grid-item">
              <mat-form-field appearance="fill">
                <mat-label>Conclusiones</mat-label>
                <textarea matInput formControlName="conclusiones"
                  placeholder="Conclusiones"></textarea>
              </mat-form-field>
            </div>
            <div class="grid-item">
              <mat-form-field appearance="fill">
                <mat-label>Recomendaciones</mat-label>
                <textarea matInput formControlName="recomendaciones"
                  placeholder="Recomendaciones"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="grid-item">
            <button type="button" mat-raised-button color="primary"
              matStepperPrevious>Regresar</button>
            <button type="submit" mat-raised-button
              color="primary">Finalizar</button>
          </div>
        </mat-step>

      </mat-stepper>
    </form>
  </div>
</div>
