<div class="cont">
    <div class="container-fluid">
        <div class="back-button-container">
            <header style="display: flex;">
                <h1>{{ isEditing ? 'Editar Area' : 'Crear Nueva Area' }}</h1>
            </header>
        </div>

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-spinner-overlay">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <!-- Formulario -->
        <div class="form-container" *ngIf="!isLoading">
            <form [formGroup]="areaForm" (ngSubmit)="save()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nombre del Area</mat-label>
                    <input matInput type="text" formControlName="nombreArea" required>
                    <mat-error *ngIf="areaForm.get('nombreArea').invalid && areaForm.get('nombreArea').touched">
                        El nombre del area es obligatorio.
                    </mat-error>
                </mat-form-field>

                <!-- Botón de guardar -->
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!areaForm.valid">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
