<div class="cont">
  <div class="container-fluid">
  <div class="back-button-container">
    <header style="display: flex;">
      <button type="button" mat-mini-fab style="border: none;background-color: rgb(24, 130, 223);margin-right: 5px;"
        (click)="goBack()">
        <i class="fas fa-arrow-left"></i></button>
      <h1>Editar Marco Legal</h1>
    </header>
  </div>
  <div class="form-container">
    <form [formGroup]="legalFrameworkForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre" required>
      <button type="button" (click)="updateLegal()" class="btn btn-primary" mat-mini-fab>
        <i class="fas fa-save"></i>
      </button>
    </form>
    <div *ngIf="showSuccessMessage" class="success-message" mat-mini-fab>
      Marco Legal actualizada correctamente.
    </div>   </div>   
  </div>
  </div>
  