<div class="cont">
    <div class="container-fluid">
        <div class="back-button-container">
            <header style="display: flex;">
                <h1>{{ isEditing ? 'Editar Marco Legal' : 'Crear Nuevo Marco Legal' }}</h1>
            </header>
        </div>

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-spinner-overlay">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <!-- Formulario -->
        <div class="form-container" *ngIf="!isLoading">
            <form [formGroup]="marcoLegal" (ngSubmit)="saveLegalFramework()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nombre del Marco Legal</mat-label>
                    <input matInput type="text" formControlName="nombre" required>
                    <mat-error *ngIf="marcoLegal.get('nombre').invalid && marcoLegal.get('nombre').touched">
                        El nombre del marco legal es obligatorio.
                    </mat-error>
                </mat-form-field>

                <!-- Botón de guardar -->
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!marcoLegal.valid">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
