<div class="cont">
  <div class="container-fluid">
    <header style="display: flex;">
      <button type="button" mat-mini-fab style="border: none;background-color: rgb(24, 130, 223);margin-right: 5px;"
        (click)="goBack()">
        <i class="fas fa-arrow-left"></i></button>
      <h1>Crear Nuevo Plan Nacional</h1>
    </header>
    
    <div class="form-container">
      <form [formGroup]="nationalPlanForm" (submit)="createPlan()">
        <div class="label-container" >
          <label for="numeroPolitica" class="label">Numero de Política:</label>
        </div>
        <input type="text" id="numeroPolitica" formControlName="numeroPolitica" required />
        <div *ngIf="nationalPlanForm.controls['numeroPolitica'].invalid && nationalPlanForm.controls['numeroPolitica'].touched">
          <div class="error-message">El numero de la Política es obligatorio.</div>
        </div>
        <div class="label-container" >
          <label for="descripcion" class="label">Descripción de la Política:</label>
        </div>
        <textarea type="text" id="descripcion" formControlName="descripcion" required ></textarea>
        <div *ngIf="nationalPlanForm.controls['descripcion'].invalid && nationalPlanForm.controls['descripcion'].touched">
          <div class="error-message">La descripcion de la Política es obligatorio.</div>
        </div>
        <button type="submit" mat-mini-fab>
          <i class="fas fa-save"></i>
          </button>
        <!-- Mostrar mensaje de error -->
        <div *ngIf="showErrorMessage" class="error-message">
          Por favor complete los campos obligatorios.
        </div>
      </form>
      
      <!-- Mensaje de éxito -->
      <div *ngIf="showSuccessMessage" class="success-message">
        Política Ingresada correctamente.
      </div>
    </div>
  </div>
</div>
