
<div class="cont">
    <div class="container-fluid">
        <div class="card">
            <header>
                <h1>{{invGroup.invGroup.nombreGrupoInv }} - {{
                            invGroup.invGroup.acronimoGrupoinv }}</h1>
            </header>
            <mat-card>
                <div class="info-container">
                    <div class="column">
                        <p><strong>Departamento:</strong> {{
                            invGroup.invGroup.departamento }}</p>
                    <p *ngFor="let line of invGroup.line"><strong>Líneas de
                        Investigación:</strong> {{ line.nombreLinea
                    }}</p>
                                            
                                            <p *ngFor="let area of invGroup.area"><strong>Áreas de
                                                Investigación:</strong> {{ area.nombreArea
                                            }}</p>
                                        <p
                                            *ngFor="let acad of invGroup.academicDomain"><strong>Dominios
                                                Académicos:</strong> {{
                                            acad.nombreDominioAcademico }}</p>
                    </div>
                    <div class="column"  >
                        <div class="img-container">
                            <img class="imgLogo" *ngIf="imagenUrl" [src]="imagenUrl" alt="Imagen del Grupo" />
                            <p *ngIf="!imagenUrl">No se pudo cargar la imagen.</p>
                        </div>

                    </div>


                </div>
                <div class="modal-buttons">
                    <button color="primary" mat-button (click)="EditLine()">
                        <i class="fa fa-edit"></i>Líneas y áreas
                    
                    </button>
                    <button color="primary" mat-button (click)="EditMembers()">
                        <i class="fa fa-edit"></i>Integrantes
                    </button>
                    <button color="primary" mat-button (click)="EditGroup()">
                        <i class="fa fa-edit"></i>Grupo
                    </button>
                  </div>
                  
                <table mat-table class="mat-table" matSort>
                    <thead>
                        <tr>
                            <th>País</th>
                            <th>Nombre del Docente</th>
                            <th>Función</th>
                            <th>Sede</th>
                            <th>Universidad/Centro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let users of invGroup.users">
                            <td>{{ users.nacionalidad }}</td>
                            <td>{{ users.nombre }}</td>
                            <td>Miembro</td>
                            <td>{{ users.departamento ? users.departamento :
                                'Externo' }}</td>
                            <td>{{ users.institucion }}</td>

                        </tr>
                        <tr>
                            <td>{{invGroup.coordinador.nacionalidad}}</td>
                            <td>{{invGroup.coordinador.nombre}}</td>
                            <td>Coordinador</td>
                            <td>{{invGroup.coordinador.departamento ?
                                invGroup.coordinador.departamento :
                                'Externo'}}</td>
                            <td>{{invGroup.coordinador.institucion}}</td>
                        </tr>
                    </tbody>
                </table>

            </mat-card>
        </div>
    </div>
</div>