<div *ngIf="isLoading" class="loading-spinner-overlay">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
<div class="cont" *ngIf="!isLoading">
    <div class="container-fluid">
        <div class="card" *ngIf="invGroup">
            <header>
                <h1>{{invGroup.invGroup.nombreGrupoInv }} - {{
                            invGroup.invGroup.acronimoGrupoinv }}</h1>
            </header>
            <mat-card>
                <div class="info-container">
                    <div class="column">
                        <p><strong>Departamento:</strong> {{
                            invGroup.invGroup.departamento }}</p>
                    <p *ngFor="let line of invGroup.line"><strong>Líneas de
                        Investigación:</strong> {{ line.nombreLinea
                    }}</p>
                                            
                                            <p *ngFor="let area of invGroup.area"><strong>Áreas de
                                                Investigación:</strong> {{ area.nombreArea
                                            }}</p>
                                        <p
                                            *ngFor="let acad of invGroup.academicDomain"><strong>Dominios
                                                Académicos:</strong> {{
                                            acad.nombreDominioAcademico }}</p>
                    </div>
                    <div class="column"  >
                        <div class="img-container">
                            <img class="imgLogo" *ngIf="imagenUrl" [src]="imagenUrl" alt="Imagen del Grupo" />
                            <img class="imgLogo" *ngIf="!imagenUrl" src="assets/img/espe/logo-espe.png" alt="Imagen del Grupo" />

                        </div>

                    </div>


                </div>
                <div class="modal-buttons">
                    <button color="primary" mat-button (click)="EditLine()">
                        <i class="fa fa-edit"></i>Líneas y áreas
                    
                    </button>
                    <button color="primary" mat-button (click)="EditMembers()">
                        <i class="fa fa-edit"></i>Integrantes
                    </button>
                    <button color="primary" mat-button (click)="EditGroup()">
                        <i class="fa fa-edit"></i>Grupo
                    </button>
                  </div>
                  
                  <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="pais">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
                      <td mat-cell *matCellDef="let user"> {{ user.nacionalidad }} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="nombreDocente">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Docente </th>
                      <td mat-cell *matCellDef="let user"> {{ user.nombre }} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="funcion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Función </th>
                      <td mat-cell *matCellDef="let user"> {{ user.funcion ? user.funcion : 'Miembro' }} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="sede">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                      <td mat-cell *matCellDef="let user"> 
                        {{ user.departamento ? user.departamento.split('-')[0] : 'Externo' }} 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="universidadCentro">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Universidad/Centro </th>
                      <td mat-cell *matCellDef="let user"> {{ user.institucion }} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                  </table>       
                  <button type="button" mat-raised-button color="primary"
                  [disabled]="!invGroup" (click)="enlace('reportesGI')">
                  Reportes
                </button>
            </mat-card>
        </div>
    </div>
</div>