<div class="cont">
    <div class="container-fluid">
      <div class="card">

        <header>
          <h1>Lista de Grupos de Investigación</h1>
          <button mat-flat-button color="primary" class="create" (click)="add()">
            <i class="fa fa-plus"></i> Nuevo Grupo
          </button>
        </header>
      </div>
        <div class="tab">
      <table>
        <thead style="position: sticky; top: 0;">
          <tr>
            <th>#</th>
            <th>Nombre del Grupo de Investigación</th>
            <th>Coordinador</th>
            <th>Abrir</th>
          </tr>
        </thead>
        <tbody>
          
          <!-- Filas de la tabla -->
          <tr *ngFor="let g of invGroup,let i = index">
           <td>{{i+1}}</td>
            <td>{{ g.nombreGrupoInv }}</td>
            <td> {{getCoordinador(g.idCoordinador) | async}} </td>
            <td>
              <button mat-mini-fab color ="primary"(click)="open(g.idGrupoInv)">
                <i class="fa fa-folder-open"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  